<footer class="footer bg-light py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">
                Copyright &copy; QJS 2023
            </div>
        </div>
    </div>
</footer>